@font-face {
  font-family: "Balsamiq Sans";
  src: url("https://cdn.glitch.com/11609301-8abb-461b-9fe5-b03dcdd0fd4a%2FBalsamiqSansRegular.ttf?1546433770249") format("ttf");
}

body {
  font-family: "Balsamiq Sans", "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em; margin-left: auto; margin-right: auto;
  text-align: center;
  max-width: 500px;
}

h1 {
  font-family: "Balsamiq Sans";
  font-style: italic;
}

#how-many-days {
  font-size: 8pt;
}
